<!DOCTYPE html>
<html lang="en" data-ng-app="myAppName">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="app/img/favicon1.ico"/>
    <meta name="description" content="{{app.description}}">
   <title data-ng-bind="pageTitle()">Click Labs</title>
   <link rel="stylesheet" href="app/css/app.css">
   <link rel="stylesheet" href="app/css/custom-style.css">
    <link rel="stylesheet" href="app/css/whirl.css">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   <script src="app/js/base.js"></script>
    <script src="vendor/angular-google-maps/lodash.min.js"></script>
   <script src="vendor/angular-google-maps/angular-google-maps.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>
<!--    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>-->
    <script src="app/js/marker-cluster.js"></script>
    <script src="vendor/gmap/marker.js"></script>
    <script src="vendor/jQuery-gMap/jquery-2.1.3.js"></script>
   <script src="vendor/angular-google-maps/highcharts.js"></script> 
<!--    <script src="vendor/angular-google-maps/highstock.js"></script>-->
<!--
    <script src="vendor/angular-google-maps/highmaps.js"></script>
    <script src="vendor/angular-google-maps/world.js"></script>
-->
    <script src="vendor/angular-google-maps/moment.js"></script>
<!--
    <script src="vendor/markerClusterer/ng-app.min.a146cd7eaf9d65c2.js"></script>
<script src="vendor/markerClusterer/app.5ef7ff39a4d285a1.js"></script>
<script src="vendor/markerClusterer/map_controller.1ce6c3ac0dd6533f.js"></script>
<script src="vendor/markerClusterer/map.499ce2efe23d32a1.js"></script>
<script src="vendor/markerClusterer/geo_coder.6e9eb6ef164f8dd0.js"></script>
<script src="vendor/markerClusterer/navigator_geolocation.4a198dc95ae169b6.js"></script>
<script src="vendor/markerClusterer/attr2_options.1f64f69421e26bf6.js"></script>
<script src="vendor/markerClusterer/marker.7ee583da075979d9.js"></script>
<script src="vendor/markerClusterer/markerClusterer.cf6d8808ea030003.js"></script>
    
-->
    
    
   <script src="app/js/app.js"></script>
   <script src="app/js/myApp.js"></script>
   <script src="app/js/controllers/login-ctrl.js"></script>
   <script src="app/js/controllers/dashboard-ctrl.js"></script>
    <script src="app/js/controllers/tasks-ctrl.js"></script>
    <script src="app/js/controllers/users-ctrl.js"></script>
    <script src="app/js/controllers/otherCharts-ctrl.js"></script>  
    <script src="app/js/controllers/heat-maps-ctrl.js"></script>
</body>

</html>