<div ng-controller="LoginController" class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <a href="#">
            <img src="app/img/logo_dark.png" alt="Image" class="block-center logo-div"/>
        </a>
        <div class="panel-heading text-center">
            <p class="text-center pv">SIGN IN TO CONTINUE.</p>
        </div>
        <div class="panel-body">


<!--            <form role="form" class="mb-lg" name="loginForm" ng-submit="loginAdmin()">-->
                <div class="form-group has-feedback">
                    <input id="exampleInputEmail1" type="email" placeholder="Enter email"
                         class="form-control"/>
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" placeholder="Password" 
                           class="form-control"/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
               
                <button type="button" class="btn btn-block btn-primary mt-lg" ng-click="loginAdmin()">Login</button>
<!--            </form>-->
<!--            <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>-->
        </div>
    </div>
    <!-- END panel-->

</div>

