<section class="content-header" style="margin-top: -30px;">
   <h3>
    Heat Maps<br/>
    <small>{{ 'Welcome to ' + app.name}}!</small>
</h3>
</section>
<br/><br/>
<div class="container-fluid" ng-controller="HeatmapController">
<!--
    <div class="row">
        <div class="col-md-12">
            <div id="map-container" ng-class="{'whirl standard' : loading}"><div id="map"></div></div>
        </div>
    </div>
-->
    
<!--
    <div id="map">
    <googlemap></googlemap>
</div>
-->
<!--
    <div class="row" >
    <div>
        <div class="panel home-panel panel-theme" style="margin-bottom:0px;">
            <div class="panel-heading" style="text-align:left;line-height: 30px;"><div>Live Tracking ( No. Of Customers {{total_no_of_customers}} )
                <span class="icon"><i class="fa fa-search search-input-icon"></i></span>
                <input id="pac-input" class="controls pull-right" type="text" placeholder="Search Box">
                <div style="clear:both"></div>
            </div></div>
        </div>
        <div>
            <div id="map-div-content">
                <div id="map-container" style="height: 650px;" ng-class="{'whirl standard' : loading}"></div>
                <div style="clear:both"></div>
            </div>
        </div>
</div>    
</div>
-->
     <div class="panel panel-default">
         <div class="panel-heading">
             <div class="row">
                 <div class="col-md-2">
                     <span style="font-size:20px;">Select Type:</span>
                 </div>
                 <div class="col-md-4">
                     <select id="type" class="form-control">
                     <option value="customer">Customer</option>
                     <option value="fleet">Fleet</option>
                 </select>
                 </div>
                 <div class="col-md-1"></div>
                 <div class="col-md-2">
                    <button class="btn btn-default" ng-click="show_map()">Show</button>
                 </div>
             </div>
         </div>
         <div class="panel-body">
             <div id="googleMap" style="height:600px;" ng-class="{'whirl standard' : loading}"></div>
<!--             <div id="googleMap1" style="height:800px;" ng-class="{'whirl standard' : loading}"></div>-->
         </div>
    </div>
    <br/><br/>
    <div class="panel panel-default">
         <div class="panel-heading">
             <div class="row">
                 <div class="col-md-2">
                     <span style="font-size:20px;">Select Type:</span>
                 </div>
                 <div class="col-md-4">
                     <select id="type" class="form-control">
                     <option value="pickup">Pick Up</option>
                     <option value="drop">Drop</option>
                 </select>
                 </div>
                 <div class="col-md-1"></div>
                 <div class="col-md-2">
                    <button class="btn btn-default" ng-click="show_map()">Show</button>
                 </div>
             </div>
         </div>
         <div class="panel-body">
             <div id="googleMap1" style="height:600px;" ng-class="{'whirl standard' : loading1}"></div>
<!--             <div id="googleMap1" style="height:800px;" ng-class="{'whirl standard' : loading}"></div>-->
         </div>
    </div>
    <div ng-class="{'whirl standard' : loading1}">hello</div>
</div>