<section class="content-header" style="margin-top: -30px;">
   <h3>
    Others<br/>
    <small>{{ 'Welcome to ' + app.name}}!</small>
</h3>
</section>
<br/><br/>
<div class="container-fluid" ng-controller="otherController" ng-class="{'whirl standard' : loading}">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
             <div class="col-lg-12">

            <!--Datepicker start-->
            <form>
                <div class="panel panel-default">
                     <div class="panel-heading" style="color:red; text-align:center;">** To see Date According Sign Ups Select Start Date and End Date **</div>
                    <div class="panel-body">
                        <div class="col-lg-3">
                        <h5>Start Date</h5>
                        <div class="row form-group">
                            <div>
                                <p class="input-group">
                                    <input type="text" datepicker-popup="{{format}}" ng-model="reports.start_date1" is-open="opened"
                                           max-date="maxDate" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"  close-text="Close" disabled=""
                                           class="form-control" id="start_date" />
                        <span class="input-group-btn">
                           <button type="button" ng-click="open($event)" class="btn btn-default">
                               <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                                </p>
                            </div>
                        </div>
                        </div>

                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                        <h5>End Date</h5>
                        <div class="row form-group">
                            <div>
                                <p class="input-group">
                                    <input type="text" datepicker-popup="{{format}}" ng-model="reports.end_date1" is-open="opened1"
                                           max-date="maxDate" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"  close-text="Close" disabled=""
                                           class="form-control" id="end_date"/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open1($event)" class="btn btn-default">
                               <i class="fa fa-calendar"></i>
                           </button>
                        </span>
                                </p>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-primary" ng-click="findCharts()" style="margin-top: 36px;">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--Datepicker end-->
        </div>
        </div>
    </div>
    <br/><br/>
     <div class="row" ng-show="chart_flag">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="container6" style="width: 100%; height: 100%; margin: 0 auto" ng-class="{'whirl standard' : loading6}"></div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="container" style="width: 100%; height: 100%; margin: 0 auto" ></div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="container1" style="width: 100%; height: 100%; margin: 0 auto" ></div>
        </div>
    </div>
    <br/><br/>
     <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="container5" style="width: 100%; height: 100%; margin: 0 auto" ></div>
        </div>
    </div>
    <br/><br/>
     <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="container2" style="width: 100%; height: 100%; margin: 0 auto"></div>
        </div>
    </div>
      <br/><br/>
     <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="container3" style="width: 100%; height: 100%; margin: 0 auto"></div>
        </div>
    </div>
     <br/><br/>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="container7" style="width: 100%; height: 100%; margin: 0 auto" ></div>
        </div>
    </div>
    <br/><br/>
     <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="container4" style="width: 100%; height: 100%; margin: 0 auto" ></div>
        </div>
    </div>
    
</div>