<section class="content-header" style="margin-top: -30px;">
   <h3>
    Tasks<br/>
    <small>{{ 'Welcome to ' + app.name}}!</small>
</h3>
</section>
<br/><br/>
<div class="container-fluid" ng-controller="TaskController" ng-class="{'whirl standard' : loading}">
   <div class="panel panel-default" ng-class="{'whirl standard' : loading1}">
        <button type="button" class="btn btn-primary btn-md" ng-click="getdaily()">Daily</button>
        <button type="button" class="btn btn-primary btn-md" ng-click="getweekly()">Weekly</button>
        <button type="button" class="btn btn-primary btn-md" ng-click="getmonthly()">Monthly</button>
<!--
        <div class="panel-heading">
            <u><h1 style="text-align:center;"><i>Total Revenue</i></h1></u>
        </div>
-->
        <div class="panel-body">
            <div class="row" ng-show="daily">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div id="container" style="width: 100%; height: 100%; margin: 0 auto" ></div>
                </div>
            </div>
            <div class="row" ng-show="week">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div id="container1" style="width: 100%; height: 100%; margin: 0 auto" ></div>
                </div>
            </div>
            <div class="row" ng-show="month">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div id="container2" style="width: 100%; height: 100%; margin: 0 auto" ></div>
                </div>
            </div>
        </div>
    </div>
</div>